
/* main */
main {
  display: grid;
  grid-template-columns: auto 600px auto;
  gap: 40px;
}
main section h3 {
  margin-bottom: 10px;
}
main section article {
  margin: 10px;
}
section ul li {
  line-height: 30px;
}
.left ul {
  padding-left: 30px;
}

