* {
  box-sizing: border-box;
  margin: 0;

}
body {
  padding: 80px 60px 0 60px;
  min-width: 500px;
  max-width: 900px;
  border: 2px solid #1e1e1e;
  margin: 20px auto;
}
header h1 {
  margin-top: 20px;
}
section {
  margin: 40px 0;
}
h3 {
  color: darkgreen;
  margin: 15px 0;
}
h4 {
  color: darkblue;
}
ul {
  margin-top: 15px;
}
ul li {
  margin-top: 8px;
}
article {
  margin-bottom: 25px;
}
