* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}
main {
  max-width: 900px;
  padding: 3rem;
  margin: 3rem auto;
  border-radius: 8px;
  border: 4px solid #0a0a23;
}
ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  align-items: center;
}
li button {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
}
li button:focus {
  box-shadow: inset 0 -2px 0 0 black;
}
li:nth-child(5) button {
  background-color: #0a0a23;
  border-radius: 8px;
  padding: 0.5rem;
  color: #f5f6f7;
  transition: all ease 0.3s;
}
li:nth-child(5) button:hover {
  opacity: 0.5;
}
.desc {
  color: gray;
  font-size: 1.8rem;
  margin-block: 0;
}
.content {
  width: 817px;
  height: 141px;
  margin-top: 3rem;
  font-size: 2rem;
  background-color: rgb(0, 0, 0);
  color: #f5f6f7;
  padding: 1rem;
  border-radius: 8px;
}
